<div class="mx-auto w-full">
  <h1 class="font-bold text-4xl">New project</h1>

  <%= render "form", project: @project %>

  <%= link_to "Back to projects", projects_path, class: "rounded-lg py-3 ml-2 px-5 bg-blue-400 inline-block font-medium text-white" %>
</div>
