<div class="mx-auto w-full">
  <%= render @project %>

  <%= link_to "Edit this project", edit_project_path(@project), class: "mt-2 rrounded-lg py-3 px-5 bg-blue-400 inline-block font-medium text-white" %>
  <%= link_to "Back to projects", projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue-400 inline-block font-medium text-white" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this project", project_path(@project), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium", form: { data: { turbo_confirm: 'Are you sure?' } } %>
  </div>
</div>
