name: Application workflow

on:
  push:
    branches:
      - main
jobs:
  rspec:
    name: RSpec
    runs-on: ubuntu-20.04
    env:
      APPLICATION_NAME: task_control
      JWT_KEY: so_difficult_123
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/taks_control_rails_test
    services:
      postgres:
        image: postgres:latest
        ports: ['5432:5432']
        env:
          POSTGRES_DB: taks_control_rails_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          APPLICATION_NAME: task_control
          JWT_KEY: so_difficult_123
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install postgres client dependencies
        run: sudo apt-get install libpq-dev

      - name: Create database
        run: |
          bundle exec rails db:create
          bundle exec rails db:schema:load

      - name: Run tests
        run: |
           bundle exec rake assets:precompile
           bundle exec rspec spec
