<div class="flex space-x-4">
<%= link_to tasks_path, class: "flex items-center space-x-2" do %>
  <i class="fas fa-tasks mr-2"></i>
  Tasks
  <%= completed_count(Task) %>
<% end %>
<%= link_to projects_path, class: "flex items-center space-x-2" do %>
  <i class="fas fa-briefcase mr-2"></i>
  Projects
  <%= completed_count(Project) %>
<% end %>
</div>
